.header {
  position: sticky;
  top: 0;
  z-index: 1;
  /*else, animation of cards overprint the header and nav*/
  height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: var(--clr1);

}