.form-container {
  display: flex;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
}

.user-form {
  max-width: 50%;
  flex-shrink: 1;
  flex-grow: 1;
  padding: 1rem;
  display: grid;
  row-gap: 3rem;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "data btn";
  background: var(--grad);
  border-radius: 7px;
  box-shadow: 3px 3px 6px;
}

.user-form input {
  margin-bottom: 1rem;
}

.form-data {
  grid-area: data;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-buttons {
  grid-area: btn;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-form p {
  text-align: end;
}

.user-form input {
  line-height: 1.5rem;
  padding: .2rem;
  border: none;
  border-radius: 7px;
}

.user-form input[type=submit],
input[type=button] {
  border-radius: 7px;
  width: 90px;
  border: 5px solid beige;
}

.user-form input[type=submit]:hover,
input[type=button]:hover {
  border-color: var(--clr1);
  background-color: var(--clr4);
}

@media screen and (max-width: 960px) {
  .user-form {
    max-width: 96%;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "data" "btn";
  }

  .form-buttons {
    flex-direction: row;
    justify-content: space-between;
  }
}