.user-container {
  border-radius: 7px;
  width: 320px;
  box-shadow: 2px 2px 6px;
  padding: 2rem;
  background: linear-gradient(to top right, #70afdc, #b0e0e6, #d4e4eb, #f1f7fb);
  cursor: pointer;
}

.user-body {
  transition: transform ease-out 1000ms;
  transform-origin: center;
}

.user-body:hover {
  transform: scale(1.07)
}

.user-body:hover :first-child::after {
  content: ' *';
  color: rgb(46, 44, 44)
}